
body{
    background-color:#F1E4FF ;
}
footer{
    background-color: #D6B1FF;
    max-height: 70px;
}

.logoempresa{
    width: 59px;
    height:49px;
    margin: 10px;
}

.iconosredes a{
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 2px;
    color: #F22BB2;
    align-items: center;
    transition: all 0.2s ease-in;
    
}
.nombreempresa{
    color:  #F22BB2 ;
}
/* inicia pagina contacto */
.contacto{
    background-color:#FFB1E6;
    height:884px ;
    width: 448px;
    margin-top:93.5px;
    margin-bottom: 93.5px;
    margin-left: 476px;
    margin-right:476px;

    
}

.logo{
    width:157px;
    height:135px;
    margin-left: 144.5px;
    margin-right: 144.5px; 
    
    
}

.texto{
color:#8C30F5 ;
margin: 20px;
height: 32px;
}

.botones{
    height:56px;
    width: 368px;
}
.instagram{
    background-color: #FCB045;
}
.margen{
    margin-top: 10px;
    margin-bottom:10px;
}
/* instagram */
.correo{
    background-color:  #EA4335;
    color: white;
}

.whatsapp{
    background-color: #00BB2D;
    color: white;
}
.facebook{
    background-color: #3B5998;
    color: white;
}
.tiktok{
background-color: #69C9D0;
}
.direccion{
    background-color: #419EF8;
}
/* .logonombre{
    width: 250px;
    height: 76.92px;
    margin-left: ;
    margin-right: ;
    margin-top: ;
    margin-bottom: ;
} */
/* colores pagina
purpura 8C30F5, purple 800 D6B1FF, prple 100 F1E4FF, turquesa 2EC5CE, turquesa 800 75E3EA, turquesa 100 D5FAFC, orange FE9A22, orange 800 FFC278, orange 100 FFE3C1, pink F22BB2,
pink 800 FF72D2, pink 100 FFB1E6
 */