/* Inicia footer */
.footer{
    background-color:#FDD9D9;
    margin-top: auto;
    max-height: 4.375rem;
    width: 100%;
}

.nombreempresa{
    color:  #F22BB2 ;
}
.iconosredes a{
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 2px;
    color: #F22BB2;
    align-items: center;
    transition: all 0.2s ease-in;
    text-decoration: none;
}
.logoempresa{
    
    width: 59px;
    height:49px;
    margin: 10px;
}
/* Termina footer */
