body{
    background-color: rgb(241, 228, 255);
}

nav-pills {
    background-color: #ccffff;
}

#sesion {
    background-color: #f2e6ff;
    color:  #9933ff;
}

#registro {
    background-color:  #9933ff;
    color: #f2e6ff;
}
.colorh5{
    background-color: rgb(255,227,193);

}
.card-color{
    background-color:rgb(213,250,252);
}
.btn-color{
    background-color:rgb(140,48,245);
    color: white;
}

.color-bar{
    background-color: rgb(255,227,193);
}
.img{
    /* producto2 */

width: 224px;
height: 224px;
left: 454px;
top: 573px;


}

.con{/* tamaño de las cards  */
    margin: 0vh;
    border: 0vh;
    height: 0vh;
    width: 200vh;
    border-left: 0vh;
    padding: 0vh;
    padding-left: 0vh;
   
}
.conimg{
    padding-left: 0;
}

.textienda{
    display: flex;
}

.Productbtn{
    color:white;
}
.footer{
    
    background: rgb(214, 177, 255) ;
    padding: 1em 0;
    margin-top: auto;
}

.fondo {
    background-color: #D5FAFC;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #D6B1FF;
}

a.dropdown-item:hover {
    background-color: blueviolet;
    color: white;
} 

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28140, 0, 211, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: none;
}

#b1 {
    background-color: #D6B1FF;
    color: blueviolet;
}

#b2 {
    background-color: blueviolet;
    color: white;
}

.bi-cart2 {
    font-size: 20px;
    color: blueviolet;
}