@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;

}
body{
    background-color:#F1E4FF ;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:url(../img/fondo\ pagina\ web.jpg);
    background-repeat: no-repeat;
    max-width: 100%;


}

.o{
    color: #7021ca;
}


/* Inicio Estilos barra de navegacion */
.colorFondo{
    background-color: #d8fcfc;
    color: #191217;
}
.enviar{
    background-color: #D6B1FF;
}
.enviar:hover{
    background-color: #F22BB2;
}
.fondo {
    background-color: #D5FAFC;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #D6B1FF;
}

a.dropdown-item:hover {
    background-color: blueviolet;
    color: white;
} 

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28140, 0, 211, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: none;
}

#b1 {
    background-color: #D6B1FF;
    color: blueviolet;
}

#b2 {
    background-color: blueviolet;
    color: white;
}

.bi-cart2 {
    font-size: 20px;
    color: blueviolet;
}
/* Fin  estilos barra de navegacion */

/* INICIO DE CUADRO  */
/* background-color: #ffc47c; */
#Tarjeta{
    display: none;
}



.margen{
   margin-top: 8vh;
   margin-bottom: 7vh;

}

.seccion1{
    background-color: #ffb4e4;
    margin-top: 4vh;
    margin-bottom: 4vh;
    
}

.margintop{
    margin-top: 1rem;
    
}
.pading{
    padding: 1rem;
    
}
.altura{
    height: 36rem;
}
.S{
    height: 100%;
}
.altura:hover{
    box-shadow: rgba(31, 1, 75, 0.25) 0px 54px 55px, rgba(27, 3, 74, 0.245) 0px -12px 30px, rgba(169, 26, 26, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.93) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 10%;
}
.tamal{
    height: 18rem;
    
}
.tamal:hover{
    box-shadow: rgba(31, 1, 75, 0.017) 0px 54px 55px, rgba(27, 3, 74, 0.044) 0px -12px 30px, rgba(169, 26, 26, 0.029) 0px 4px 6px, rgba(0, 0, 0, 0.284) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10%;
}


.tamalito{
    width: 10rem;
    height: 2rem;
    display: inline;
}

.colorTitul{
    color: #7021ca;
}

/* FIN DE CUADRO */

/* footer */
.footer{
    /* background-color: #D6B1FF; */
    background-color:#FDD9D9 ;
    margin-top: auto;
    max-height: 4.375rem;
    width: 100%;
}

.nombreempresa{
    color:  #F22BB2 ;
}
.iconosredes a{
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 2px;
    color: #F22BB2;
    align-items: center;
    transition: all 0.2s ease-in;
    
}
.logoempresa{
    
    width: 59px;
    height:49px;
    margin: 10px;
}
/* termina footer */

