body{
    background-color:#F1E4FF ;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:url(../img/fondo\ pagina\ web.jpg);
    background-repeat: no-repeat;
    max-width: 100vw;
    
}
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.197em;
}
h2{
    font-family:'Roboto' , sans-serif;
    font-weight: 300;
    font-size:1.69em ;
}
h3{
    font-family:'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
.texto{
    font-family:'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 1em;
}
/* Inicio Estilos barra de navegacion */
.fondo {
    /* background-color: #D5FAFC; */
   /*  background-color: #FFC3D8; */
   background-color: #2EC5CE;
}
.textobarra{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: white;

}
.navbar-nav > li > .dropdown-menu {
    background-color: #D6B1FF;
}

a.dropdown-item:hover {
    background-color: blueviolet;
    color: white;
} 

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28140, 0, 211, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: none;
}

#b1 {
    background-color: #D6B1FF;
    color: blueviolet;
}

#b2 {
    background-color: blueviolet;
    color: white;
}

.bi-cart2 {
    font-size: 20px;
    color: blueviolet;
}
/* Fin  estilos barra de navegacion */

/* inicia section */
.margen{
    margin-top: 8vh;
    margin-bottom: 7vh;
}
/* termina section */



/* inicia contacto */
.contenido{
    background-color:#FFB1E6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;   
}
.medidas{
    height:844px;
}
.logo{
    
    margin-top: 5vh;
    margin-bottom: 5px;
   height: 135px;
   width: 157px;
}
.cont{
    font-size: 1.7em;
    text-align: center;
    font-weight: 700;
    background-color: #FFB1E6;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 8vh;
    color:#8C30F5 ;
}
.contactanos{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: 200;
}
.logonombre{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 250px;
    height: 76.92px;
}


/* botones */

.sombra{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 30px 20px -20px;
}

.medida{
    width: 80%;
    border-radius: 20px;
}

a div{
    margin-top: .4em;
    font-size: 1.2em;
}

/* INICIA BOTON INSTAGRAM */
.instagram{
    color:#8C30F5;
    border: 0;
   /*  background-image:linear-gradient(to right, #833AB4,#FD1D1D,#FCB045); */
     background-color: #D5FAFC;
    height:56px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition:  0.2s ease-in;
}
.instagram:hover{
    background-color: #FF72D2;
   /*  opacity: .8; */
    color: #8C30F5;
}



/* TERMINA BOTON INSTAGRAM */
.facebook{
    color:#8C30F5;
    border: 0;
    /* background-image:linear-gradient(to right,#1877f2,#1877f2 ); */
    background-color: #D5FAFC;
    height:56px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition:  0.2s ease-in;

}
.facebook:hover{
    background-color: #FF72D2;
   /*  opacity: .8; */
   color: #8C30F5;
}
.tiktok{
    color:#8C30F5;
    border: 0;
   /*  background-image: linear-gradient(to right,#25F4EE,#000000,#FE2C55); */
   background-color: #D5FAFC;
    height:56px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition:  0.2s ease-in;
}
.tiktok:hover{
    background-color: #FF72D2;
   /*  opacity: .8; */
   color: #8C30F5;
}
.whatsapp{
    color: #8C30F5;
    border: 0;
    /* background-image:linear-gradient(to right,#00BB2D ,#00BB2D) ; */
    background-color: #D5FAFC;
    height:56px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition:  0.2s ease-in;
}
.whatsapp:hover{
    background-color: #FF72D2;
    /* opacity: .8; */
    color: #8C30F5;
}
.correo{
    color:#8C30F5;
    border: 0;
    /* background-image:linear-gradient(to right,#EA4335 ,#EA4335) ; */
    background-color: #D5FAFC;
    height:56px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition:  0.2s ease-in;
}
.correo:hover{
    background-color: #FF72D2;
   /*  opacity: .8; */
   color: #8C30F5;
}
/* INICIA BOTON DE UBICACION */
.ubicacion{
    color: #8C30F5;
    border: 0;
    /* background-image:linear-gradient(to right,#419EF8 ,#419EF8) ; */
    background-color: #D5FAFC;
    height:56px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition:  0.2s ease-in;
}
.ubicacion:hover{
    background-color: #FF72D2;
    /* opacity: .8; */
    color: #8C30F5;
}


/* TERMINA BOTON DE UBICACION */
/* termina botones */
/* termina contacto */



/* footer */
.footer{
    /* background-color: #D6B1FF; */
    background-color:#D6B1FF ;
    margin-top: auto;
    max-height: 4.375rem;
    width: 100%;
}

.nombreempresa{
    
    color:  #F22BB2 ;
}
.iconosredes a{
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 2px;
    color: #F22BB2;
    align-items: center;
    transition: all 0.2s ease-in;
    
}
.logoempresa{
    
    width: 59px;
    height:49px;
    margin: 10px;
}
/* termina footer */



/* colores pagina
purpura 8C30F5, purple 800 D6B1FF, prple 100 F1E4FF, turquesa 2EC5CE, turquesa 800 75E3EA, turquesa 100 D5FAFC, orange FE9A22, orange 800 FFC278, orange 100 FFE3C1, pink F22BB2,
pink 800 FF72D2, pink 100 FFB1E6
 */

