

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #e6ccff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat;
    max-width: 100vw;
    background-size: cover;
    backdrop-filter: blur;
}

/* Inicio Estilos barra de navegacion */
.fondo {
    background-color: #D5FAFC;
}
.aInicio{
    color: blueviolet;
    text-decoration: none;
}
.aRegistro{
    color: white;
    text-decoration: none;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #D6B1FF;
}

a.dropdown-item:hover {
    background-color: blueviolet;
    color: white;
} 

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28140, 0, 211, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: none;
}

#b1 {
    background-color: #D6B1FF;
    color: blueviolet;
}

#b2 {
    background-color: blueviolet;
    color: white;
}

.bi-cart2 {
    font-size: 20px;
    color: blueviolet;
}
/* Fin  estilos barra de navegacion */

/* Barra de título */
.pink {
    background-color: #ff72d2;
}

.dt-txt {
    font-weight: 800;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Tarjetas */
.color-trj {
    background-color: #FFB1E8;
    color: blueviolet;
    width: 355.99;
    height: 326.21;
}

.card {
    background-color: #e6ccff;
    border: none;
}

.h5card {
    /* background-color:rgb(254,182,233); */
    margin-bottom: 1vh;
    width: 100%;
    height: 30%;
    font-weight: 400;
    font-size: 1.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white; 
}

.title p{
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.card-img-top {
    height: 25rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;    
}

.card-body {
    height: 230px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

/* Inicio estilos footer */
.footer{
    background-color: #D6B1FF;
    max-height: 4.375rem;
    max-width: 100%;
}

.logoempresa{
    width: 59px;
    height:49px;
    margin: 10px;
}

.iconosredes a{
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 2px;
    color: #F22BB2;
    align-items: center;
    transition: all 0.2s ease-in;
    text-decoration: none;
    
}
.nombreempresa{
    color:  #F22BB2 ;
}


