


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.nav-pills {
    background-color: #ccffff;
}

#menu {
    display: flex;
    justify-content: flex-start;
    
}

#sesion {
    background-color: #f2e6ff;
    color:  #9933ff;
}

#registro {
    background-color:  #9933ff;
    color: #f2e6ff;
}

body {
    background-color: #e6ccff;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: orangered;
}

#aparato {
    background-color: violet;
}
/* barra de enmedio */
.pink {
    background-color: #ff72d2;
}

.dt-txt {
    font-weight: 800;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
